/* Custom tooltip style */
.custom-intro-tooltip {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

/* Custom highlight style */
.custom-intro-highlight {
  background-color: rgba(255, 255, 255, 0.1);
}


